@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-light-blue : #8ba5bc;
  --primary-light-grey:  #f4f4f4;
  --primary-dark-hard: rgb(52, 58, 60);
  --primary-white : #ffffff;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-grey:  #ccd1d9;
  --primary-dark-grey:  #666666;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}


/******************** NAVBAR **********************/

.logo {
  width: 6.25rem;
}

.logo-text {
  color: var(--primary-white);
}

/*------- Menu Links -------*/

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar {
  background-color: #8ba5bc;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important ;
  font-size: 0.8rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 5.25rem;   /* kutunun alacağı max değer width:genişlik */
  padding: 1.4rem  !important;   /* tavana yapıştırıyor */
  height: 6rem !important;   /* navbarın yüksekliğini ayarlıyor */
}


.navbar-nav > li > a.active , .navbar-nav > li > a.active:focus {
  border-top : 0.1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  border-top : 0.1875rem solid var(--primary-white);
}

@media(max-width:768px) {
  .navbar-brand {
    width: 7rem;
  }
}

/**** Sign In Button ****/
.btnSignIn {
  appearance: button;
  background-color: #228cbe;
  border: solid transparent;
  border-radius: 1rem;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.6rem 0.9rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.btnSignIn:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 1rem;
  border-width: 0 0 0.3rem;
  bottom: -0.3rem;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btnSignIn:main,
.btnSignIn:focus {
  user-select: auto;
}

.btnSignIn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btnSignIn:disabled {
  cursor: auto;
}



/******************** HEADER **********************/


.header-wrapper {
  position: relative;
  background: url(BackGround.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;

  position: absolute; /* Bu kısım tüm div i ekranın ortasına ortalar */
  top: 0; /* Ekranın hepsini div olarak düşün bir sürü boşluk var ; */
  left: 0; /* bu "0" eklemelerimiz boşlukları atıyor hepsini tam ortaya koymamızı sağlıyor */
  right: 0;
  bottom: 0;
  flex-direction: column; /* Sırayla hepsini aşağı atar ul li mantığı gibi */
  justify-content: center; /* Dikeyde ekranın ortasına ortalar */
  align-items: center; /* Yatayda elemntleri ortalar */
  text-align: center; /* Yatayda yazıları ortalar */
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: #8ba5bc;
  text-transform: uppercase;
  font-weight: 1000;
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
}

/******************** TYPED TEXT **********************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width:768px) {
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/******************** BUTTON MAİN OFFER **********************/

.main-info a {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 550;
}

.btn-main-offer {
  text-decoration: none;
  border: 1px solid #d1dadc;
  position: relative;
  overflow: hidden;
}

.btn-main-offer:hover {
  box-shadow: 1px 1px 25px 10px #c4cbce;
}

.btn-main-offer:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    #c4cbce,
    transparent
  );
  transition: all 650ms;
  text-decoration: none;
}

.btn-main-offer:hover:before {
  left: 100%;
  text-decoration: none;
}


/******************** ABOUT US **********************/

.aboutUsContainer {
  font-family: 'Roboto Condensed', sans-serif;
}

.aboutUsContainer h1 {
  font-weight: 700;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-light-blue);
}

.aboutUs-heading {
  color: var(--primary-light-blue);
  text-transform: uppercase;
}

@media(max-width:468) { /* Telefon ekranlarındaki responsive yapı için */
  .profile-img {
    width: 10rem;
  }
}


/******************** SERVİCES **********************/

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: #A2B8C6;
  font-family: 'Roboto Condensed', sans-serif;
}

.services h3 {
  margin-top: 0.7rem;
}

.services p {
  margin-top: 0.9rem;
  font-size: 1rem;
}

.services h1 {
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 700;
}

.services .circle { /* yuvarlak sarı alan için oluşturduk ortaladık */
  position: relative;
  margin: 0.0375rem auto;
  background: var(--primary-light-blue);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
} 

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  
  position: absolute; /* iconları alan içersine ortalamak için yaptık */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box { /* kutu oluşturduk */
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-light-blue);
  padding: 0.625rem;
  margin-bottom: 1.825rem;
  background: var(--primary-white);
}

.services .box:hover {
  background: var(--primary-light-blue) ;
  border-bottom: 00.3125rem solid var(--primary-dark-hard);
  cursor: pointer;
}

.services .box:hover .icon {
  color: var(--primary-dark-hard);
  font-size: 2rem;
}

.services .box:hover .circle {
  background: var(--primary-white);
  width: 3.725rem;
  height: 3.725rem;
}

.services .box:hover p {
  color: var(--primary-white);
  font-size: 1.2rem;
}

.services .box:hover h3 {
  font-size: 2rem;
}


/******************** EXPERİENCE **********************/

.experience {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0.7rem;
}

.experience-wrapper { /* Uzun Çubuk */
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden; /* uzun ince çubuk koyar */
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-light-blue);
  font-weight: 900;
}

.experience-wrapper::before { /* Uzun Çubuk */
  position: absolute; /* container ile bağlı bir şekilde hareket etmesi için absolute dedik */
  content: "";
  top: 0; /* div in en başından başlaması için */
  left: 50%; /* çubuğu ortalamak için */
  margin-left: -0.0625rem; /* çubuğu tam ortalamak için biraz sağdan sola çektik */
  width: 0.125rem; /* çubuğun kalınlığını ayarladık */
  height: 100%; /* tüm div de devam etmesi için dedik */
  background: var(--primary-grey);
  z-index : 1; /* blok topunun altında kalması için verdik */
}

.timeline-block { /* tarihlerin de içinde olduğu tüm div */
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-light-blue);
  background: var(--primary-white);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-light-blue);
  font-weight: 900;
}

/******************** MEDİA EXPERİENCE **********************/

@media(max-width:768px) { /* Telefon ekranlarındaki responsive yapı için */
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/*------------ OUR TEAM > TESTİMONİALS ------------------*/

.testimonials {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(testimonials-bg.jpg);
  /* background: #A2B8C6; */
  background-size: cover;
  /* background-color: var(--primary-black); */
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1 {
  color: var(--primary-white);
  padding: 3rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: -2rem auto 2rem auto;
  background: var(--primary-transparent-black);
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--primary-white);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  margin-top: 1rem;
  color: var(--primary-white);
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem ;
}


.carousel .slide img {
  width: 12rem !important;
  border-radius: 50%;
  padding-bottom: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}


